:root{
    --primary-black: #252525ff;
    --secondary-black: #201E1C;
    --primary-blue: #3b5998;
    --secondary-blue: #d8dfea;
    --primary-gray: #7F7C82;
    --secondary-gray: #F3F1F5;
    --primary-white: #fff;
    --primary-yellow: #ffd43bff;
}
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: 320px;
    height: 60px;
    text-align: center;
    color: var(--primary-white);
    background-color: var(--secondary-black);
    z-index: 50;
 }
 header section{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .headerContainer__left{
    display: flex;
    width: 40%;
    font-size: 1.0rem;
    font-weight: bold;
    line-height: 2.6rem;
 }
 .headerContainer__left img{
    width: 15px;
 }
 .headerContainer__right{
    width: 60%;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.0rem;
    font-weight: bold;
    line-height: 2.6rem;
 }
 .headerContainer__topics ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
 }
 .headerContainer__topics li{
    display: inline-block;
 }
 .headerContainer__topics ul li a{
    display: block;
    padding: 0.5rem 0.5rem;
    transition: all 0.4s linear;
    border-radius: 5px;
 }
 .headerContainer__topics ul li a:hover{
    background-color: var(--primary-black);
 }
 .headerContainer__topics a{
    color: var(--primary-white);
    text-decoration: none;
 } 
main{
    min-width: 320px;
    width: 100%;
    height: auto;
    background-color: var(--primary-black);
}
.intro{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 430px;
    text-align: center;
}
.intro__imgProfile{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
    margin-top: 90px;
}
footer{
    width: 100%;
    height: 2000px;
}
.intro__aboutMe h1{
    margin-top: 15px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--primary-white);
}
.intro__aboutMe h3{
    font-size: 1.5rem;
    line-height: 2.6rem;
    color: var(--primary-white);
}
.intro__aboutMe p{
    margin-top: 15px;
    padding: 0% 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--primary-white);
}
.intro__information{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--primary-blue);
}
.information_title{
    width: 90%;
    min-width: 200px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.information_title h2{
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--primary-white);
}
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--secondary-black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}